# ignore modules pulled in from npm
node_modules/

# nyc
.nyc_output/

# coverage
coverage/

# Visual Studio Code
.vscode/

# rc-apps package output
dist/

# JetBrains IDEs
out/
.idea/
.idea_modules/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# vscode
vscode

# Repository specific
coverage
.vscode
.nyc_output
node_modules
